<%= form_with(model: oenologist, local: true) do |form| %>
  <% if oenologist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(oenologist.errors.count, "error") %> prohibited this oenologist from being saved:</h2>

      <ul>
      <% oenologist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :nationality %>
    <%= form.text_field :nationality %>
  </div>
  <h2>Define your Magazine</h2>
    <div class="field">
    <%= form.collection_check_boxes(:magazine_ids, Magazine.all, :id, :name) do |b|%>
      <%= b.label class: 'label-checkbox' do %>
        <%= b.check_box + b.text%>
      <% end %>
    <% end %>
  </div>


  <h2>Define your Position</h2>
  <div class="field">
    <%= form.label :editor %>
    <%= form.check_box :editor %>
  </div>

  <div class="field">
    <%= form.label :writer %>
    <%= form.check_box :writer %>
  </div>

  <div class="field">
    <%= form.label :reviewer %>
    <%= form.check_box :reviewer %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
